<section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="cards">
        <a href="/" class="card" alt="Flux Capacitor">
            <img src="../images/upgrades/flux-cap.png" >
            <p>Flux Capacitor</p>
        </a>
        <a href="/" class="card" alt="Flame Decals">
            <img src="../images/upgrades/flame.jpg" >
            <p>Flame Decals</p>
        </a>
        <a href="/" class="card" alt="Bumper Stickers">
            <img src="../images/upgrades/bumper_sticker.jpg" >
            <p>Bumper Stickers</p>
        </a>
        <a href="/" class="card" alt="Hub Caps">
            <img src="../images/upgrades/hub-cap.jpg">
            <p>Hub Caps</p>
        </a>
    </div>
</section>